a:hover, a:focus {
    text-decoration: none;
    color: #007849 !important;
    outline: none !important;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #007849 !important;
}

.mouse-icon {
    width: 80px;
    height: 80px;
    border: 1px solid #6cdebf !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #04a075 !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.search-location .form-group button {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 0 50% 50% 50%;
    background: #04a075 !important;
}

.heading-section .subheading {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
    color: #007849 !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.heading-section .subheading:after {
    position: absolute;
    top: 50%;
    left: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    margin-top: -1px;
    background: #5a565a !important;
}

.heading-section .subheading:before {
    position: absolute;
    top: 50%;
    right: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    margin-top: -1px;
    background: #5a565a !important;
}
.heading-section .subheading2:before {
    position: absolute;
    top: 50%;
    right: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    margin-top: -1px;
    background: #f5f5f5 !important;
}
.heading-section .subheading2:after {
    position: absolute;
    top: 50%;
    left: -60px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    margin-top: -1px;
    background: #f5f5f5 !important;
}

/*.services .icon span {
    font-size: 60px;
    color: #0a7d50 !important;
}*/

.property-wrap .text .btn-custom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #007849 !important;
    border-radius: 50% 0 0 0;
}

.services.services-2 .icon {
    width: 90px;
    height: 90px;
    background: #007849 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

}
.property-wrap .text ul li {
    font-size: 15px !important;
    margin-right: 10px !important;
    display: inline-block;
    list-style: none;
    color: #007849 !important;
}

.property-wrap .text p.price span.old-price {
    color: rgb(232, 110, 208) !important;
    position: relative;
    margin-right: 20px;
}

}
.property-wrap .text {
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -50px;
    margin-left: 20px;
    background: #f1f1f1 !important;
    -webkit-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    padding: 25px;
}

.heading-section .subheading2 {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
    color: #e86ed0 !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #e2dfdf !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}